# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# SQLite
*.db
*.sqlite
*.sqlite3

# Mac system files
.DS_Store

# Editor files
.vscode/
.idea/

# Temporary files
*.log